@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  background-color: #e8e8e8;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  top:30px;
} 
/*  search button  code*/

button {
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 3px 4px 8px #c5c5c5,
              -6px -6px 12px #ffffff;             
 }
 
 button::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #0f371c 0%,  #4b736c 100%);
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 button:hover::before {
  width: 9em;
 }
  /* recipe button code */

 .recipebutton::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #0f371c 0%, #4b736c 100%);
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 .recipebutton:hover::before {
  width: 9em;
 }
 input{
  font-family: inherit;
 }

 h3{
   
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: absolute;
    left: -45%;
    top: 0%;
    padding: 10px 5px;
    margin-left: 50px;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
                
   }

   h3::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0f371c 0%,  #4b736c 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   h3:hover::before {
    width: 9em;
   }
 
  @media (max-width:786px) {
    .container {
      width: 95%; /* Shrink the width for smaller screens */
      height: 90%; 
    }
    h1 {
      text-align: center;
      margin-bottom: 30px;
      font-family: 'Courier New', Courier, monospace;
    }
    
    
    .mealInfo h3{
      font-size: 12px;
      font-weight:500;
      font-family: 'Courier New', Courier, monospace;
      padding-left: 8px;
     
    }
    .mealInfo p{
      font-size: 14px;
      font-weight:500;
      font-family: 'Courier New', Courier, monospace;
      padding-left: 8px;
    
      line-break: auto;

    }
    .Meal{
      display: flex;
      
    
    }
    .Meal img{
      width: 100vw;
      height: 100%;
      margin: 0px 3px 3px 20px;

    }
    .Meal p{
      font-size: 12px;

    }
    .Meal button{
      font-size: 14px;
      width: 80px;
      margin: 5px 3px 3px 22px;  

    } 
    
    
  }

 